<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head', {title: 'Productos' }) %>
</head>

<body>

    <%- include('../partials/navbar') %>

    <main>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>Página de productos</h1>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer') %>
    </footer>

    <%- include('../partials/scripts') %>

</body>

</html>